<h1> Edit Training </h1>

<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
  <div id="error_explanation">
    <div>
      The form contains <%= pluralize(@training.errors.count, "error") %>.
    </div>
    <ul>
    <% @training.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control' %>

  <%= f.label :length %>
  <%= f.number_field :length, step: :any, class: 'form-control' %>

  <%= f.submit "Edit Training", class: "btn btn-primary" %>
<% end %>

  