<h1> Log in </h1>

<%= form_tag do %>
  <% users = User.all.select {|user| user unless logged_in? user } %>
  <% filtered_users = options_from_collection_for_select(users, :id, :name) %>
  <%= select_tag(:id, filtered_users) %>

  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %>

  <%= submit_tag("Log in") %>
<% end %>
