<h2>Logged In Users</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Total Hours</th>
    <th>Logged in at</th>
  </tr>
  <% User.logged_in_users.each do |u| %>
    <tr>
      <td><%= u.name %></td>
      <td><%= u.total_hours.round(2) %></td>
      <td><%= Time.zone.parse(u.logged_in_since).strftime("%c") %></td>
    <tr>
  <% end %>
</table>

<h2>Logged Out Users</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Total Hours</th>
  </tr>
  <% User.logged_out_users.each do |u| %>
    <tr>
      <td><%= u.name %></td>
      <td><%= u.total_hours.round(2) %></td>
    <tr>
  <% end %>
</table>